@import "reset.css";

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Thin.ttf) format("truetype");
}

body { 
    background-color: #f5f5f5;
    font-family: "Raleway", Arial;
    font-weight: 900;
}

.task-list {
    font-size: 17px;
    color: #555;
    background-color: white;
    padding: 0 !important;
    width: 650px;
    border: 1px solid #dedede;
    border-radius: 25px 25px 0 0;
    margin: 7% auto 0;
}

.task-list h4 {
    color: #cd0000;
    font-size: 50px;
    text-align: center;
    padding: 40px 0 20px;
}

.task-list .add-new-task input[type='text'] {
    font-family: "Raleway", Arial;
    font-weight: 900;
    font-size: 17px;
    color: #699CDB;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    border-radius: none;
    display: block;
    padding: 12px 6% 12px 30px ;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.task-list ul li {
    list-style: none;
    border-top: 1px dotted #ccc;
    height: 42px;
    line-height: 46px;
    text-align: left;
    overflow: hidden;
}

.task-list ul li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.3s;
  -moz-transition:    all 0.3s;
  -ms-transition:     all 0.3s;
  -o-transition:      all 0.3s;
}

.task-list ul li span {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 30px;
    text-overflow: ellipsis;
    float: left;
}

.task-list ul li .delete-button {
    font-size: 16px;
    color: #003366;
    width: 13px;
    margin: 13px 10px;
    float: right;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}

.task-list ul li .delete-button:hover {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -ms-transition:     all 0.4s;
    -o-transition:      all 0.4s;
}

.task-list ul li .time-icon {
    font-size: 16px;
    color: black;
    width: 13px;
    margin: 13px 10px;
    float: right;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}

.task-list ul li .time-icon:hover {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -ms-transition:     all 0.4s;
    -o-transition:      all 0.4s;
}

::-webkit-input-placeholder {
    color: #a5c3e9;
}
:-moz-placeholder {
    color: #a5c3e9;
}
::-moz-placeholder {
    color: #a5c3e9;
}
:-ms-input-placeholder {
    color: #a5c3e9;
}